.blog_1{
    background-image: url(../../assets/images/blogs/image_1.jpg)
}

.blog_2{
    background-image: url(../../assets/images/blogs/image_2.jpg)
}

.blog_3{
    background-image: url(../../assets/images/blogs/image_3.jpg)
}