.blogs_start_image{
    background-image: url(../../assets/images/backgrounds/bg_2.jpg);
}

.blog_1{
    background-image: url(../../assets/images/blogs/image_1.jpg)
}

.blog_2{
    background-image: url(../../assets/images/blogs/image_2.jpg)
}

.blog_3{
    background-image: url(../../assets/images/blogs/image_3.jpg)
}

.blog_4{
    background-image: url(../../assets/images/blogs/image_4.jpg)
}

.blog_5{
    background-image: url(../../assets/images/blogs/image_5.jpg)
}

.blog_6{
    background-image: url(../../assets/images/blogs/image_6.jpg)
}