.courses_start_image{
    background-image: url(../../assets/images/backgrounds/bg_4.jpg);
}

.course_1{
    background-image: url(../../assets/images/courses/course-1.jpg)
}

.course_2{
    background-image: url(../../assets/images/courses/course-2.jpg)
}

.course_3{
    background-image: url(../../assets/images/courses/course-3.jpg)
}

.course_4{
    background-image: url(../../assets/images/courses/course-4.jpg)
}

.course_5{
    background-image: url(../../assets/images/courses/course-5.jpg)
}

.course_6{
    background-image: url(../../assets/images/courses/course-6.jpg)
}

.course_7{
    background-image: url(../../assets/images/courses/course-7.jpg)
}

.course_8{
    background-image: url(../../assets/images/courses/course-8.jpg)
}