.about_background{
    background-image: url(../../assets/images/backgrounds/bg_3.jpg);
}

.about_image{
    background-image: url(../../assets/ibasa_dark.png);
}

.left{
    width: 30%;
}

.right{
    width: 70%;
}

.right p{
    text-align: left;
}


.left_b{
    width: 50%;
}

.right_b{
    width: 50%;
}

.right_b p{
    text-align: left;
}