.gallery_image_1{
    background-image: url(../../assets/images/gallery/image_1.jpg);
}

.gallery_image_2{
    background-image: url(../../assets/images/gallery/image_2.jpg);
}

.gallery_image_3{
    background-image: url(../../assets/images/gallery/image_3.jpg);
}

.gallery_image_4{
    background-image: url(../../assets/images/gallery/image_4.jpg);
}