.student_1{
    background-image: url(../../assets/images/students/student_1.jpg)
}

.student_2{
    background-image: url(../../assets/images/students/student_2.jpg)
}

.student_3{
    background-image: url(../../assets/images/students/student_3.jpg)
}

.student_4{
    background-image: url(../../assets/images/students/student_4.jpg)
}

.student_5{
    background-image: url(../../assets/images/students/student_5.jpg)
}