.course_1{
    background-image: url(../../assets/images/courses/UCR-UNA.jpg)
}

.course_2{
    background-image: url(../../assets/images/courses/TEC.jpg)
}

.course_3{
    background-image: url(../../assets/images/courses/Educacion-Diversificada-a-Distancia.jpg)
}

.course_4{
    background-image: url(../../assets/images/courses/Curso-de-Ingles-Startup.jpg)
}

.course_name {
    min-height: 15%;
}

.course_description {
    min-height: 35%;
}


@media only screen and (max-width: 950px) {
    .course_description{
        min-height: 40%;
    }
}

@media only screen and (max-width: 860px) {
    .course_description{
        min-height: 45%;
    }
}

.course_link{
    min-height: 10%;
}

.container_course_info{
    height: 100%;
}

.course_cont{
    margin-bottom: 50%;
}

@media only screen and (min-width: 770px) {
    .course_cont{
        margin-bottom: 10%;
    }
}