.about_start_image {
    background-image: url(../../assets/images/backgrounds/bg_1.jpg);
}

.about_info_image {
    background-image: url(../../assets/images/about.jpg);
}

.about_background_image{
    background-image: url(../../assets/images/backgrounds/bg_3.jpg);
}

.about_video_image{
    background-image: url(../../assets/ibasa_dark.png);
}

.ul_list{
    color: white
}

.left{
    width: 30%;
}

.right{
    width: 70%;
}

.right p{
    text-align: left;
}


.left_b{
    width: 50%;
}

.right_b{
    width: 50%;
}

.right_b p{
    text-align: left;
}